.profile {
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
    'pic main main main'
    'pic info info info'
    'pic bio bio bio'
    'related related related related';
  max-width: 935px;
  margin: 40px auto;
  text-align: center;
  background: #FAFAFA;
}

.profile a {
  text-decoration: none;
}

.profile-main,
.profile-info,
.profile-bio {
  max-width: 410px;
  text-align: left;
}

.profile-main,
.profile-info {
  display: grid;
  grid-template-columns: auto auto auto;
}

.profile-main {
  grid-template-areas: 'pm-title pm-btn .';
}

.profile-info {
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  color: #262626;
}

.profile-bio {
  font-weight: normal;
  font-size: 15px;
  line-height: 24px;
  color: #262626;
  margin-bottom: 60px;
}

.profile-bio * {
  margin: 0;
}

.profile-bio a {
  color: #003569;
}

.profile-related ul {
  display: grid;
  grid-template-columns: repeat(7, auto);
  padding: 0;
  list-style-type: none;
}

.profile-related img {
  width: 77px;
}

.profile-related p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
}

.profile-related a,
.profile-related p {
  color: #262626;
}

/* Grid */
/* Area */
/* Names */
.profile-pic {
  grid-area: pic;
}

.profile-main {
  grid-area: main;
}

.profile-main h1 {
  grid-area: pm-title;
}

.profile-main button {
  grid-area: pm-btn;
}

.profile-info {
  grid-area: info;
}

.profile-bio {
  grid-area: bio;
}

.profile-related {
  grid-area: related;
}
/* Grid */
/* Area */
/* Names */

/* Responsive Web Design */
@media screen and (max-width: 1023px) {
  .profile {
    grid-template-areas:
    'pic main . .'
    'bio bio bio .'
    'related related related related'
    'info info info info';
    gap: 1vw;
  }

  .profile-bio {
    margin-bottom: 30px;
  }

  .profile-bio h1 {
    font-weight: normal;
  }

  .profile-main {
    display: block;
  }

  .profile-info {
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    max-width: 100%;
    text-align: center;
  }

  .gray-text::before {
    content: ' ';
    display: block;
  }

  .gray-text {
    color: #999999;
  }
}
