.profile {
  display: grid;
  grid-template-columns: 20% 20% 20% 20%;
  grid-template-rows: auto;
  grid-template-areas:
    'pic main main main'
    'pic info info info'
    'pic bio bio bio'
    'related related related related';
  width: 75%;
  margin: 0 auto;
  text-align: center;
}

.profile-related ul {
  display: grid;
  grid-template-columns: repeat(7, auto);
  padding: 0;
  list-style-type: none;
}

.profile-related img {
  width: 77px;
}

.profile-related p {
  font-weight: normal;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #262626;
}

.profile-pic {
  grid-area: pic;
}

.profile-main {
  grid-area: main;
}

.profile-info {
  grid-area: info;
}

.profile-bio {
  grid-area: bio;
}

.profile-related {
  grid-area: related;
}
