* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #FAFAFA;
    font-family: 'Roboto', sans-serif;
}

.content {
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

.justify-items-center {
    justify-items: center;
}

.justify-content-center{
    justify-content: center;
}
.align-items-center {
    align-items: center;
}

.photos-options {
    height: 53px;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: #999999;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 28px;
}
.photos-options img {
    display: none;
}
.photos-options span {
    display: inline-block;
}
.photos-options-container {
    grid-column-start: 2;
    grid-column-end: 3;
    justify-content: space-between;
}

.photos {
    grid-template-columns: repeat(3, 1fr);
    gap: 28px;
}

.photo {
    grid-column-end: span 1;
}
.photo img {
    width: 100%;
}

.w-100-percent {
    width: 100%;
}

.max-width-935 {
    max-width: 935px;
}

.photo-option-active {
    border-top: 1px solid #262626;
    color: #262626;
}


.navbar {
    padding-top: 25px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
}

header {
    min-width: 100%;
    background-color: white;
    padding-bottom: 2%;
    border-bottom: 1px solid #e5e5e5;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.nav-logo {
    display: flex;
    align-content: center;
    height: 100%;
}

.nav-logo * {
    margin: auto 5%;
}

.search-input {
    text-align: center;
    background: #FAFAFA;
    border: 1px solid #DBDBDB;
    border-radius: 3px;
    padding: 3% 5%;
}

.search-input::placeholder {
    font-size: 13px;
    line-height: 18px;
    text-align: center;
    color: #999999;
}

.user-actions {
    display: flex;
    align-items: center;
}

.btn {
    background: #3897F0;
    outline: none;
    border: none;
    padding: 7px 10px;
    color: #fff;
    font-size: 14px;
    border-radius: 4px;
}


.btn-light {
    color: #3897F0;
    background: transparent;
    cursor: pointer;
    border: none;
    padding: 7px 10px;
}

.footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 122px;
}

.footer-navbar ul {
    display: flex;
    list-style: none;
    justify-content: flex-start;
    margin-bottom: 10px;
}

.footer-navbar-item {
    margin-left: 15px;
}

.footer-navbar-item:first-child {
    margin-left: 0;
}

.footer-navbar-item a {
    text-decoration: none;
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #003569;
}

.copyright {
    font-size: 12px;
    line-height: 18px;
    text-transform: uppercase;
    color: #999999;
}

#language {
    border: 1px solid #999999;
    padding: 1px;
    border-radius: 5px;
}

.profile {
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      'pic main main main'
      'pic info info info'
      'pic bio bio bio'
      'related related related related';
    max-width: 935px;
    margin: 23px auto;
    text-align: center;
    background: #FAFAFA;
  }

  .btn-follow {
    width: 61px;
    padding: 6px 10px;
    line-height: 18px;
  }
  
  .profile a {
    text-decoration: none;
  }
  
  .profile-main,
  .profile-info,
  .profile-bio {
    max-width: 410px;
    text-align: left;
  }
  
  .profile-main,
  .profile-info {
    display: grid;
    grid-template-columns: auto auto auto;
  }
  
  .profile-main {
    grid-template-areas: 'pm-title pm-btn .';
  }
  
  .profile-info {
    font-weight: normal;
    font-size: 16px;
    line-height: 18px;
    color: #262626;
  }
  
  .profile-bio {
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    color: #262626;
    margin-bottom: 60px;
    margin-top: 20px;
  }

  .profile-bio h2 {
    font-weight: normal;
    font-size: 16px;
  }

  .profile-bio a {
    font-size: 16px;
    color: #003569;
  }
  
  .profile-related ul {
    display: grid;
    grid-template-columns: repeat(7, auto);
    padding: 0;
    list-style-type: none;
  }
  
  .profile-related img {
    width: 77px;
  }
  
  .profile-related p {
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
  }
  
  .profile-related a,
  .profile-related p {
    color: #262626;
  }
  
  /* Grid */
  /* Area */
  /* Names */
  .profile-pic {
    margin-left: 30px;
    margin-bottom: 50px;
    grid-area: pic;
  }
  
  .profile-main {
    grid-area: main;
    margin-bottom: 20px;
  }
  
  .profile-main h1 {
    grid-area: pm-title;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    color: #262626;
  }
  
  .profile-main button {
    grid-area: pm-btn;
  }
  
  .profile-info {
    grid-area: info;
  }
  
  .profile-bio {
    grid-area: bio;
  }
  
  .profile-related {
    grid-area: related;
  }

  .related-profiles a p{
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    color: #262626;
    margin-top: 15px;
  }

  .related-profiles a img {
      height: 77px;
      width: 77px;
  }

  @media screen and (max-width: 1023px) {
    .navbar {
        padding: 5% 2%;
        width: 100%;
        justify-content: space-between;
        
    }

    .search {
        display: none;
    }

    .footer-container {
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .footer-navbar ul {
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: 7px;
    }

    .footer-navbar-item {
        text-align: center;
    }

    .photos-options{
        height: 46px;
        column-gap: 0px;
    }
    .photos-options img {
        display: inline-block;
    }
    .photos-options span {
        display: none;
    }

    .photos-options-container {
        grid-column-start: 1;
        grid-column-end: span 3;
        justify-content: space-evenly;
    }
    .photos-options-container div{
        width: 100%;
        grid-column-start: 1;
        grid-column-end: span 3;
        justify-content: space-evenly;
    }

    .photos {
        gap: 5px;
    }

    .profile {
        grid-template-areas:
        'pic main . .'
        'bio bio bio .'
        'related related related related'
        'info info info info';
        gap: 1vw;
      }

      .profile-bio {
        margin-bottom: 25px;
        margin-left: 4%;
      }
  
      .profile-pic{
          margin: 0;
      }
    
      .profile-bio h2 {
        font-weight: normal;
      }
    
      .profile-main {
        display: block;
      }

      .gray-text {
        color: #999999;
      }
  
      .photo-option-active {
          border-top:none;
          margin-bottom: 12px;
      }
  
      .related-profiles a p{
          font-size: 12px;
          margin-top: 8px;
        }
  
      .related-profiles {
          margin-bottom: 20px;
      }

      .gray-text::before {
        content: ' ';
        display: block;
      }

      .profile-info {
        border-top: 1px solid #DBDBDB;
        border-bottom: 1px solid #DBDBDB;
        max-width: 100%;
        text-align: center;
        padding: 13px;
      }
}
